.nav {
    position: relative;
}
.content {
    padding-top: 70px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.modal-content {
    margin-left: 5em;
    margin-right: 5em;
}

.modal-content > fieldset{
    margin-left: 5em;
    margin-right: 5em;
}

.input-span {
    position: relative;
    top: -1.7em;
    left: 11.2em;
}

.input-span:hover {
    color: #FF4136;
    cursor: pointer;
}

.input-type {
    position: relative;
    top: 1.5em;
    left: -1.1em;
}

.opinion-div {
    padding: 0px;
    margin-bottom: -2em;
}