.nav {
    position: relative;
}
.content {
    padding-top: 70px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.modal-content {
    margin-left: 5em;
    margin-right: 5em;
}

.modal-content > fieldset{
    margin-left: 5em;
    margin-right: 5em;
}